:root {
  font-family: Roboto, Helvetica, Tahoma, Arial;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 1);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --screen-max-width: 1400px;
  --screen-min-width: 1200px;
  --header-height: 72px;
  --footer-height: 210px;
  --page-py: 24px;
  --page-px: 16px;
  --button-min-width: 160px;
}

html {
  font-size: 16px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

body,
html {
  margin: 0;
}

/* cover tailwind css default */
button,
[type='button'] {
  background-color: var(--n-color);
}

.router-link-active,
a {
  text-decoration: none;
}

/* fix button width */
.n-button-fit-width {
  min-width: var(--button-min-width);
  width: fit-content;
}

.page {
  position: relative;
  z-index: 1;
  box-sizing: border-box;
  padding: var(--page-py) var(--page-px);
}

@media (min-width: 640px) {
  :root {
    --page-py: 40px;
    --page-px: 0;
    --header-height: 80px;
    --footer-height: 120px;

    --u-screen-height: 100vh;
    --u-screen-min-height: 600px;

    --u-screen-height: 100vh;
    --u-screen-min-height: 100vh;
    --u-header-height: 120px;
    --u-page-py: 24px;
    --u-page-px: 32px;
  }

  .page {
    padding: 48px 0 96px 0;
    max-width: var(--screen-max-width);
    min-width: var(--screen-min-width);
  }
}
